/* Config */

* {
  font-family: 'Open sans', sans-serif;
  color: #0b0c0c;
}

body * {
  overflow-x: hidden;
}

#root {
  margin-top: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  width: 100vw;
  min-height: 60px;
}

.navbar .navbar-items {
  position: relative;
  background: red;
  width: 100%;
}

.navbar * {
  color: black;
}

.navbar *:hover {
  color: #00664f;
}

.navbar .navbar-brand img {
  height: 32px;
  width: auto;
}

.navbar .navbar-brand .brand-text b {
  font-size: 1rem;
}

/* Layout */

.banner-wrapper {
  background: #00664f;
}

.features-container-wrapper {
  padding: 40px;
}

/* Banner */

.banner-container {
  padding: 70px;
}

.banner-container * {
  color: white;
}

.banner-container img {
  width: 250px;
  height: auto;
}

.banner-container h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: normal;
}

span.brand-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.banner-container .span-wrapper {
  position: relative;
  top: 15px;
  display: inline-block;
  width: 750px;
}

@media (max-width: 800px) {
  .banner-container .span-wrapper {
    width: 520px;
  }
}
@media (max-width: 584px) {
  .banner-container .span-wrapper {
    width: 320px;
  }
}

/* Feature boxes */

.feature {
  padding: 30px;
  background: white;
  border: 1px solid #bfc1c3;
  border-radius: 12px;
  height: 100%;
}

.feature h2 {
  padding-bottom: 10px;
  font-size: 1.1875rem;
  font-weight: bold;
  color: #0b0c0c;
}

.feature li, .feature li * {
  color: #00664f;
}

.feature ul a:hover {
  color: #003d2f;
}
.feature.contact-us *:not(a){
  color: #0b0c0c;
}

/* Footer */

.footer {
  width: 100vw;
  background-color: #0b0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer * {
  color: white;
  margin: 1.5rem;
}

.footer *:hover {
  color: #bfc1c3;
}

/* Contact Us */
h1#contact-us {
  line-height: normal;
}